*{
    border: 0;
    outline: 0;
    padding: 0;
}
body{
    background-color: #fff;
    margin: 3%  6%;
    height: 100vh;
    font-family: 'Poppins';
    position: relative;
}

.navbar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
}
nav img{
    margin: auto;
    width: 90px;
}

nav .grow-list{
    display: flex;
    flex: 2;
    justify-content: space-between;
    /* border: 2px solid blue; */
}

nav .list{
    display: flex;
    width: 50%;
    list-style-type: none;
    justify-content: space-evenly;
    /* border: 2px solid black; */
}
.list-item{
    font-weight: 200;
    font-size: 13px;
}
nav .nav-button{
    border: none;
    outline: none;
    background-color: #5955B3;
    color: #fff;    
    border-radius: 10px;
    padding: 15px 30px;
}
/* section-2 */
/* banner */
.heading-text{
    margin-top: 100px;
}

.banner-container h1{
    font-size: 45px;
    color: #3C2F60;
    width: 380px;
    font-weight: 600;
    line-height: 50px;
}
.banner-container h1 span{
    color: #5955B3;
}

.banner-container p{
    font-weight: 200;
    font-size: 13px;
    width: 25%;
    margin-top: -10px;
}

.banner-container .btn{
    border: none;
    outline: none;
    background-color: #5955B3;
    color: #fff;    
    border-radius: 10px;
    margin-top: 50px;
    padding: 20px 30px;
}

.banner-container img{
    position: relative;
    left: 55%;
    top: -418px;
    height: 500px;
}
nav .list-item:hover{
    font-weight: 600;
    cursor: pointer;
}
nav img:hover{
    cursor: pointer;
}
button:hover{
    cursor: pointer;
}

/* #learnings
-about margins, image position, line hieght, hover 
-time taken: 3 hours 
-navigation items spacing
*/

